*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
	transition: all 0.5s ease;
}

body{
	font-family: sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}

body{
	background-color: #e2d5e4;
}

.container{
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.calculator{
	position: relative;
	height: auto;
	width: auto;
	padding: 20px;
	border-radius: 25px;
}

#display{
	margin: 0 10px;
	height: 150px;
	width: auto;
	max-width: 270px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 40px;
	margin-bottom: 20px;
	overflow-x: scroll;
	box-shadow: -1px 1px 10px 2px #e2d5e4;
	border-radius: 15px;
}

#display::-webkit-scrollbar{
	display: block;
	height: 3px;
}

button{
	height: 60px;
	width: 60px;
	border: 0;
	border-radius: 30px;
	margin: 1px;
	font-size: 24px;
	cursor: pointer;
	transition: all 200ms ease;
	font-weight: 600;
	font-family: Comic Sans MS;
}

button:hover{
	transform: scale(1.1);
}

button#equal{
	height: 130px;
}

.calculator.dark{
	background-color: #fffcff;
}

.calculator.dark #display{
	color: #f0e9f1;
}

.calculator.dark button#clear{
	background-color: #ffe4ea;
	color: #4d2b33;	
}

.calculator.dark button.btn-number{
	background-color: #f9f5f9;
	color: #3a323b;
}

.calculator.dark button.btn-operator{
	background-color: #efe9f0;
	color: #3a323b;
}

.calculator.dark button.btn-equal{
	background-color: #fae0ff;
	color: #47234d;
}